.heading{
    font-size: 23px;
    width: 100%;
    margin: 0%; 
    box-shadow: 5px 5px 5px rgb(64, 139, 139);
}
.note{
    font-size: 15px;
    color: rgb(11, 7, 247);
}
.copy_right_footer{
    position: fixed;
    color: rgb(12, 3, 1);
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height:3;
    text-align: center;
}
canvas{
    border: 5px solid white;
    border-radius: 20%;
    box-shadow: 5px 5px 5px rgb(12, 8, 8);
}